<div class="row row-cols-1 row-cols-md-3 g-4 animated fadeIn">
  <div
    *ngFor="let item of items"
    (click)="verArtista(item)"
    class="col puntero"
  >
    <div class="card h-100">
      <img [src]="item.images | noimage" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <span
          *ngFor="let artista of item.artists"
          class="badge rounded-pill bg-dark"
          >{{ artista.name }}</span
        >
      </div>
    </div>
  </div>
</div>
